.App {
  text-align: left;
  background-color: #FFF;
  max-width: 1400px;
  margin: auto;
  padding: 10px;
}

.Title {
  text-align: center;
  background-color: #FFF;
  height: 50px;
  padding: 20px;
  color: orange;
}

.Container {
  padding: 10px;
  margin: auto;
  max-width: 770px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.Phonelist {
  color: #54d6f7;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.PhonelistItem {
  padding: 5px;
}
.PhonelistItem text{
  cursor: pointer;
  cursor: hand;
}

.Selected {
  color: #fff;
  background-color: #54d6f7;
}

.Phonedetail {
  padding: 10px;
  padding-top: 0px;
  text-align: center;

}
.Phonedetail p {
  margin: 10px;
  margin-top: 0px;
}

.Phonedetail img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-height: 100px;
  padding: 10px;
  border-radius: 10px;
  background-color: #fff;
}

.Selection {
  padding: 10px 25px;
  margin:auto;
  background-color: #444;
  display: flex;
  flex-direction: column;
  color: #fff;
  min-width: 420px;
}
.Selection th {
  color: #54d6f7;
}
.SelectionPrice {
  color: orange;
}

.NoSelection {
  padding: 10px 25px;
  margin:auto;
  text-transform: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #444;
  min-width: 420px;
  min-height: 250px;
}
.NoSelection p {
  color: #fff;
  margin: 10px;
}

table {
  border-spacing: 5px;
}

@media screen and (max-width : 770px) {
  .App {
    max-width: 500px;
  }

  .Phonelist {
    max-height: 150px;
    width: 100%;
  }
  .Container {
    flex-direction: column;
  }
}
